@import "../base/mixin";

.container-project {
  margin-top: 1.5rem;
  .project-item {
    position: relative;
    border-radius: 15px;
    .project-img {
      width: 100%;
      height: 13.4375rem;
      object-fit: cover;
      border-radius: 15px;
      margin: 1rem auto;
    }
    .project-hover {
      width: 100%;
      height: 100%;
      background-color: var(--color-accent);
      @include flex-direction(column, center, center);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 15px;
      opacity: 0;
      transform: scale(0);
      transition: all 0.4s ease-in-out;
      .project-item-title {
        font-size: 1.5rem;
        color: var(--color-white);
        margin-bottom: 1.5rem;
      }
      .project-icon-container {
        @include flex-direction(
          $flex-direction: row,
          $align-items: center,
          $justify-content: center
        );
        .project-icon {
          background-color: var(--color-primary);
          border-radius: 50%;
          @include flex-direction(column, center, center);
          width: 4.375rem;
          height: 4.375rem;
          margin: 0 1rem;
          cursor: pointer;
          transition: all 0.4s ease-in-out;
          &:hover {
            background-color: var(--color-font);
            color: var(--color-primary);
          }
          .project-i {
            font-size: 1.5rem;
            margin: 0 1rem;
          }
        }
      }
      .project-tecno {
        font-size: 0.875rem;
        margin-top: 0.75rem;
         @media screen and (min-width: 767px) {
           font-size: 1.2rem;
         }
      }
    }
  }

  .container-project .project-item {
    position: relative;
    border-radius: 15px;
  }
  .project-item:hover .project-hover {
    opacity: 1;
    transform: scale(1);
  }
}
