@import "../base/mixin";

header {
  width: 100vw;
  nav {
    ul {
      background-color: var(--color-primary);
      @include flex-direction($flex-direction: row, $align-items: center, $justify-content: space-around);
      position: fixed;
      padding: .25rem .625rem;
      z-index: 10;
      bottom: 0;
      color: var(--color-font);
      .logo-header{
        display: none;
      }
      .btn,
      .theme-btn {
        @include btn();
        margin: 1rem 0.3rem;
        background-color: transparent;
        align-items: center;
      }
      .theme-btn:focus{
        outline: none;
      }
      .btn:hover {
        @include btn-hover();
      }
       @media screen and (min-width: 767px){
        width: 100vw;
        .logo-header{
          display: block;
          img{
            width: 9vh;
          }
        }
         .btn,
      .theme-btn {
        font-size: 1.2rem;
      }
       }
    }
  }
  @media screen and (min-width: 1020px){
    width: initial;
  nav ul{
         flex-direction: column;
         height: 100vh;
         width: initial;
       }
      }
}
