@import "../base/mixin";

header {
  width: 100%;
  background-color: var(--color-grey-4);
  nav {
    ul {
      @include flex-row();
      position: fixed;
      z-index: 10;
      top: 93%;
      right: 4%;
      transform: translateY(-50%);
      width: 100%;
      color: var(--color-font);
      .btn,
      .theme-btn {
        @include btn();
        margin: 1rem 0.3rem;
      }
      .btn:hover {
        @include btn-hover();
      }
    }
  }
}
