@import "../base/mixin";

header {
  width: 100%;
  nav {
    ul {
      background-color: #454e5661;
      filter: blur(0.1px);
      @include flex-direction($flex-direction: row, $align-items: center, $justify-content: space-around);
      position: fixed;
      padding: .25rem .625rem;
      z-index: 10;
      top: 93%;
      transform: translateY(-50%);
      color: var(--color-font);
      .btn,
      .theme-btn {
        @include btn();
        margin: 1rem 0.3rem;
      }
      .btn:hover {
        @include btn-hover();
      }
    }
  }
}
