@import "../base/mixin";

#home {
  .text-home{
    text-align: center;
  }
  .accent {
    color: var(--color-accent);
    margin: 1rem auto;
  }
  .about{
    text-align: left;
    margin: 1rem auto;

  }
  .contact-links {
   @include flex-direction($flex-direction: row, $align-items: center, $justify-content: space-around);
    .social-link {
      margin-right: 1rem;
      font-size: 1.5rem;
      &:hover{
        @include btn-hover();
      }
    }
  }
  .btn-con {
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    justify-content: center;
  }

  .main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  .main-btn {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      z-index: -1;
    }
    &:hover {
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }
    &:hover::before {
      width: 100%;
      height: 100%;
      background-color: var(--color-accent);
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }
    .btn-text {
      padding: 0 2rem;
    }
    .btn-icon {
      background-color: var(--color-accent);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1rem;
    }
  }
  .wrapper-img-perfil {
    height: 90%;
    width: 68%;
    margin: 1rem auto;
    .img-perfil {
      border-radius: .875rem;
      background-color: var(--color-secondary);
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
    }
}
