@import "../base/mixin";

#home {
  .accent {
    color: var(--color-accent);
    margin: 1rem auto;
  }
  .contact-links {
   @include flex-direction($flex-direction: row, $align-items: center, $justify-content: space-around);
    .social-link {
      margin-right: 1rem;
      font-size: 1.5rem;
      color: var(--color-font);
      &:hover{
        @include btn-hover();
      }
    }
  }
  .wrapper-img-perfil {
    height: 90%;
    width: 68%;
    margin: 1rem auto;
    .img-perfil {
      border-radius: .875rem;
      background-color: var(--color-secondary);
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
    }
}
