@import "../base/mixin";

.card {
   @include flex-direction($flex-direction: column, $align-items: center, $justify-content: space-around); 
  height: 90%;
  width: 68%;
  margin: 1.5rem auto;
  .card-img {
    border-radius: 0.875rem;
    width: 30%;
    height: 45%;
  }
  .card-title{
      margin-top: 0.3rem;
  }
}

@media screen and (min-width: 320px){
  .grid-skills{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 767px){
  .grid-skills{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
