@import "./settings";
@import "./mixin";

* {
  @include reset-pm();
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--color-primary);
  font-size: 1.1rem;
  font-family: var(--font-text);
  color: var(--color-font);
  a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: var(--font-text);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  .accent {
    font-family: var(--font-title);
    font-weight: 600;
    text-align: center;
  }
  #main {
    padding: 8%;
  }
  h1,
  .accent {
    font-size: 2.125rem;
  }
  h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--color-accent);
  }
  .btn-contact {
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    justify-content: center;
  }

  .main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-accent);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
  }

  .main-btn {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
      z-index: -1;
    }
    &:hover {
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }
    &:hover::before {
      width: 100%;
      height: 100%;
      background-color: var(--color-accent);
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transition: all 0.4s ease-out;
      transition: all 0.4s ease-out;
    }
    .btn-text {
      padding: 0 2rem;
    }
    .btn-icon {
      background-color: var(--color-accent);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border-radius: 50%;
      padding: 1rem;
    }
  }
  .btn-contact-a {
    min-width: 14.125rem;
  }
  .about{
    text-align: left;
    margin: 1rem auto;

  }
}
