:root {
  --font-title: 'Red Hat Mono', monospace;
  --font-text: 'Red Hat Display', sans-serif;
  --color-primary: #181717;
  --color-accent: #f56692;
  --color-font: #ffffff;
  --color-black: #000;
  --color-secondary: #e7acac;
}

.light-mode {
  --color-primary: #e2dede;
  --color-accent: #cc00cc;
  --color-font: #0a0b0b;
  --color-black: #000;
  --color-secondary:#755975;
}

